<footer class="main-footer">
    <!--Footer Upper-->        
    <div class="footer-upper">
        <!--Go Up Button-->
        <div class="go-up">
            <div class="curve scroll-to-target" data-target="#main-header"><span class="icon fa fa-arrow-up"></span></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 column">
                    <div class="footer-widget about-widget">
                        <h2>About Good Luck </h2>
                        <div class="text">
                            <p>Phasellus at quam tristique, cursus tellus vitae, convallis neque. Sed a lacinia sapien. Etiam dignissim sit amet felis ac sagittis. Sed libero arcu, pharetra et ante in elementum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae.</p>
                        </div>
                    </div>                        
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 column">
                    <div class="footer-widget links">
                        <h2>Useful Links</h2>   
                        <ul>
                            <li><a routerLink="/privacypolicy">Privacy Policy</a></li>
                            <li><a routerLink="/termsservice">Terms of Services</a></li>
                            <li><a routerLink="/eventplannerguide">Event &amp; Planner Guide</a></li>
                            <li><a routerLink="/specialservices">Special Services</a></li>
                            <li><a routerLink="/sitemap">Sitemap</a></li>
                        </ul>                            
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 column">
                    <div class="footer-widget twitter-feed">
                        <h2>Twitter Feed</h2>
                        <div class="twitter" 
                            data-twitter-query-count="2" 
                            data-twitter-name="envato" 
                            data-slide-count="3" 
                            data-enable-slide="false">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 column">
                    <div class="footer-widget newsletter-widget">
                        <h2>Newsletter Subscribe</h2>
                        <div class="text"><p>Vivamus consequat, felis at aliquam elementum, massa sem dignissim elit, sit amet cursus massa tortor eget ante.</p>
                        </div>
                        <br>                            
                        <div class="form-box">
                            <form method="post" action="http://world5.commonsupport.com/html/rashid-wedding/rashid-wedding/index.html">
                                <div class="form-group">
                                    <input type="email" name="email" value="" placeholder="Enter your email here..." required>                                                
                                    <button type="submit" class="btn-submit"><span class="icon fa fa-long-arrow-right"></span></button>
                                </div>
                            </form>
                        </div>                            
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="contact-info">
                    <ul>
                        <li><div class="info-title"><span class="fa fa-phone"></span> Call Us Anytime</div><p class="info">+91-8587926750</p></li>
                        <li><div class="info-title"><span class="fa fa-clock-o"></span> Opening Hours</div><p class="info">8:00 am - 6:00 pm</p></li>
                        <li><div class="info-title"><span class="fa fa-at"></span> Email Us At</div><p class="info"><a href="mailto:info@goodluck.com">info@goodluck.com</a></p></li>
                    </ul>
                </div>                
            </div>
        </div>
    </div>        
    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <!--Copyright-->
            <div class="copyright">2021 &copy; Good Luck Marriage Bureau. Designed with &ensp;<span class="fa fa-heart"></span>&ensp; by securedsolutions.in.</div>
            <div class="social-links">
                <a href="#" class="icon fa fa-facebook-f"></a>
                <a href="#" class="icon fa fa-twitter"></a>
                <a href="#" class="icon fa fa-pinterest"></a>
                <a href="#" class="icon fa fa-youtube-play"></a>
                <a href="#" class="icon fa fa-envelope"></a>
            </div>
        </div>
    </div>        
</footer>