<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>
<body>

    <div class="page-wrapper">
        <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
 	
    <!-- Main Header -->
   
    <!--End Main Header -->
    
    
    <!--Page Title-->
    <section class="page-title" style="background:url('assets/images/background/page-title-1.jpg')">
        <div class="auto-container">
            <h1>Privacy & Policy</h1>
            
            <ul class="bread-crumb">
            	<li><a href="index.html">Home</a></li>
                <li><a href="#">Privacy & Policy</a></li>
            </ul>
            
        </div>
        
        <!--Go Down Button-->
        <div class="go-down">
            <div class="curve scroll-to-target" data-target="#contact-section"><span class="icon fa fa-arrow-down"></span></div>
        </div>
        
    </section>
    <section class="about-area">
        <div class="container container-2">
           
    <div class="col-lg-12">
        <div class="about-content">
            <div class="about-title">
                <h2>PRIVACY POLICY</h2>
                                    <h5>We are here to protect your privacy just like we keep our data secure</h5>
                                </div>
                                <p class="mb-30px">
                                   Our privacy policy is very straight forward and simple in nature to understand, any information or detail you give by filling of form,
                                   raising query, contacting us, using mobile app or otherwise then it stays with us securely. We do not distribute, rent, sell, provide 
                                   to anyone else outside our system, lend, or otherwise distribute your personal information in any way to anyone for any reason. 
                                   This includes any and all of your contact information including your order/ purchase information.
                                </p>
                                <p>
                                    Please be assured that Within our organization(s), your personal data or other relevant data is accessible 
                                    to only a limited number of employees/ staff or members with special access privileges.
                                </p>
             </div>
             <div class="row mt-60px">
                <div class="col-md-12 mb-res-sm-30px">
                    <div class="single-about">
                        <h4>Information Collected</h4>
                        <p>
                            To enable you and ease your access to our website including placing an order on our website, we need to have the information about you including but 
                            not limited to Your First Name, Your Last Name, Your Address, area, location, City, PIN code, State, Country, Phone Number and /or Contact E-mail address and sometime may be more.
                        </p>
                        <p>
                            Apart from such information, our systems collect certain details/ specifics about your computer internet connection by any means like your IP address when you visit our website, mobile app etc.
                        </p>
                        <p>
                            We wish to inform and ensure that we do not allow any unauthorized person/ entity or organization to use any/all such information collected from you.
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="single-about">
                        <h4>
                            Information Sharing
                        </h4>
                        <p>To some level, few of the information has to be passed/ provided on/ to the credit card processing companies, courier companies, vendors, partners, fraud detection and avoidance teams etc. 
                            To enable such departments or team to accomplish their functions and objectives related to your order or purchase completion. Apart from such business requirements, the information which 
                            we have collected may also be shared with law enforcing agencies, authorities and or such organizations of similar nature for the safety of our customers, buyers, website, company, employees, 
                            management, other affiliates associated with us etc.
                           
                        </p>
                        <h4>Information Modification</h4>
                        <p>You are free to modify any of your personal details by visiting Edit Profile option anytime on our website.</p>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="single-about">
                        <h4>Information Usage</h4>
                        <p>
                            The information which we have collected from you from several items will have the usage of the information collected from you is your email or phone number which is primarily used to provide 
                            information to you regarding your order and its associated status. Your email id or contact details such as phone number Is or may also be used to inform you or provide information directly to 
                            you for your customer service-related issues/ queries or otherwise and for any newsletters which are to be sent for several purposes. All other information we have collected is kept confidentially 
                            stored and is not disclosed unless or otherwise needed as per the order or requirement of the law enforcing agencies, organizations or authorities or in case of any disputes.
                          </p>
                    </div>
                </div>
           </div>
           

        </div>

    </div>

</section>
</div>
</body>
</html>