    <!--<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Him</title>
    </head>
    <body> -->
    
    <div class="page-wrapper">
 	
        <!-- Preloader -->
        <!-- <div class="preloader"></div> -->
         
        <!-- Main Header -->
    
        <!--End Main Header -->
        
        
        <!--Page Title-->
        <section class="page-title" style="background:url('assets/images/background/page-title-1.jpg')">
            <div class="auto-container">
                <h1>About Him</h1>
                <ul class="bread-crumb">
                    <li><a routerLink="/index">Home</a></li>
                    <li><a routerLink="/about">About Him</a></li>
                </ul>
            </div>
            <!--Go Down Button-->
            <div class="go-down">
                <div class="curve scroll-to-target" data-target="#about-section"><span class="icon fa fa-arrow-down"></span></div>
            </div>
        </section>
        
        
        <!--About Section-->
        <section class="about-section" id="about-section">
            <!--Desc Box-->
            <div class="desc-box">
                <div class="auto-container">
                    <div class="sec-title no-underline">
                        <h3>RASHID WEDDING HISTORY</h3>
                        <h2>EVERYTHING BEGAN IN A GARAGE</h2>
                        <p>Pellentesque semper quis neque dictum hendrerit. Sed nulla ipsum, porttitor pharetra tortor in, <br>consequat imperdiet nisi. Phasellus at quam tristique, cursus tellus vitae, convallis neque. </p>
                    </div>
                </div>
            </div>	
           
           <!--Lower Content-->
            <div class="lower-content" style="background-image:url('assets/images/background/1.jpg');">
                <div class="auto-container">
                    <div class="content-box">
                        <div class="row clearfix">
                            <!--Column-->
                            <div class="col-md-7  col-sm-7 col-xs-12 column">
                                <h2 class="main-title">Our Stories</h2>
                                <h3>Back in 1982</h3>
                                <p>Aliquam magna nibh, mattis a urna nec, semper venenatis magna. Cras suscipit neque libero, in bibendum orci scelerisque mollis. Nunc auctor ut erat vel euismod. Aenean tristique leo eros, at gravida massa semper eu. </p>
                                <p>Fusce imperdiet libero et eros tincidunt, vitae accumsan purus pulvinar. Vivamus varius, metus et scelerisque viverra. Morbi mattis, lorem sit amet gravida eleifend, nisl felis tincidunt dui, nec porta turpis ligula eu nisl. Donec lacus dolor, facilisis at tortor ac, congue vulputate.</p>
                               <!--  <details>
                                    <summary><h2>ABD</h2></summary>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </details> -->
                                
                                <h3>The tipping point</h3>
                                <p>Quisque eleifend volutpat orci nec fermentum. Curabitur quis dignissim nibh. Suspendisse potenti. Vivamus dictum volutpat dapibus. Fusce sed varius massa. Fusce et purus sit amet erat fermentum rutrum. Pellentesque pellentesque auctor vehicula. Integer ut ligula blandit, pellentesque neque in, hendrerit magna. </p>
                                <p>Nunc porta vehicula mauris, a hendrerit dolor tempor sed. Etiam euismod dignissim fermentum. Maecenas tincidunt finibus auctor.</p>
                                <p>Proin nec tempus nulla, et euismod nulla. Donec ut sem ipsum. Integer ultricies nisi sed augue interdum porta. Vestibulum ac aliquam risus, ac dictum magna. Fusce lacus arcu, facilisis eu odio nec, varius vestibulum sem.</p>
                                
                                <ul class="styled-list">
                                    <li>Nulla venenatis auctor quam, ac porta lectus dictum in</li>
                                    <li>Aliquam sodales nisi sit amet lorem</li>
                                    <li>Suspendisse vulputate tellus in justo convallis imperdiet</li>
                                    <li>Morbi id lorem consequat, sodales mi non</li>
                                    <li>Cras fringilla efficitur elementum</li>
                                    <li>Nulla venenatis auctor quam, ac porta lectus dictum in</li>
                                    <li>Aliquam sodales nisi sit amet lorem</li>
                                </ul>
                                
                                <p>Aliquam sodales facilisis dolor, feugiat elementum tellus condimentum at. Mauris sem nisi, dictum eget facilisis quis, placerat eu nisl. Phasellus consectetur pharetra elit id maximus.  Aliquam facilisis sodales erat, sit amet euismod eros dignissim aliquam.</p>
                            </div>
                            <!--Column-->
                            <div class="col-md-5  col-sm-5 col-xs-12 column">
                                <article class="featured-box">
                                    <figure class="image"><a href="#"><img class="img-responsive" src="assets/images/resource/featured-image-5.jpg" alt=""></a></figure>
                                    <h2>Our Missions</h2>
                                    <div class="text"><p>Proin nec lacus lacus. Sed vitae consectetur est, et mattis felis. Fusce lacinia nibh vitae fermentum finibus. Donec malesuada efficitur dapibus. Cras euismod nunc tellus.</p></div>
                                    <div class="more-link"><a routeLink="/about" class="read-more"><span class="fa fa-caret-right"></span> Read More </a></div>
                                </article>                            
                                <article class="featured-box">
                                    <figure class="image"><a href="#"><img class="img-responsive" src="assets/images/resource/featured-image-6.jpg" alt=""></a></figure>
                                    <h2>Our Vision &amp; Plan</h2>
                                    <div class="text"><p>Proin nec lacus lacus. Sed vitae consectetur est, et mattis felis. Fusce lacinia nibh vitae fermentum finibus. Donec malesuada efficitur dapibus. Cras euismod nunc tellus.</p></div>
                                    <div class="more-link"><a routeLink="/about" class="read-more"><span class="fa fa-caret-right"></span> Read More </a></div>
                                </article>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        
    

<!--</html>-->