<!-- <!DOCTYPE html>
<html dir="ltr" lang="en">


<head>
<meta charset="utf-8">
<title> Home</title> -->
<!-- Stylesheets -->
<!-- <link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/revolution-slider.css" rel="stylesheet">
<link href="css/flipclock.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet"> -->
<!-- Responsive -->
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/bootstrap-margin-padding.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet"> -->

<!-- </head>

<body> -->
    <!-- <section class="main-slider pt-0 pb-0"> 
        
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="assets/images/main-slider/banner-1.webp"  data-saveperformance="off"  data-title="Awsome Service">
                    <img class="img-responsive" src="assets/images/main-slider/banner-1.webp"  alt=""  data-bgposition="center 50%" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                        <div class="tp-caption lfl tp-resizeme"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="-80"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h2>STEVE CARELL AND NANCY WALLS</h2>
                        </div>
                        
                        
                        <div class="tp-caption lfr tp-resizeme"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="-20"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h2>ARE GETTING <span class="text-thm"> MARRIED</span></h2>
                        </div>
                        
                        <div class="tp-caption lfb tp-resizeme"
                            data-x="center" data-hoffset="-100"
                            data-y="center" data-voffset="60"
                            data-speed="1500"
                            data-start="1000"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="link-box"><a href="#" class="default-btn theme-btn">Our Services</a></div>
                        </div>
                        
                        <div class="tp-caption lfb tp-resizeme"
                            data-x="center" data-hoffset="100"
                            data-y="center" data-voffset="60"
                            data-speed="1500"
                            data-start="1000"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="link-box"><a href="#" class="default-btn style-two theme-btn">Get Free Quote</a></div>
                        </div>
                    
                    </li>
                    
                    <li data-transition="slidedown" data-slotamount="1" data-masterspeed="1000" data-thumb="assets/images/main-slider/banner_3.jpg"  data-saveperformance="off"  data-title="Awsome Service">
                    <img class="img-responsive" src="assets/images/main-slider/banner_3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                        <div class="tp-caption lfl tp-resizeme"
                            data-x="right" data-hoffset="0"
                            data-y="center" data-voffset="-110"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h2>WE PROVIDE THE BEST</h2>
                        </div>
                        
                        
                        <div class="tp-caption lfr tp-resizeme"
                            data-x="right" data-hoffset="0"
                            data-y="center" data-voffset="-50"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h2>SUPPORT TRY TO LIVE UP TO</h2>
                        </div>
                        
                        <div class="tp-caption lfb tp-resizeme"
                            data-x="right" data-hoffset="-200"
                            data-y="center" data-voffset="30"
                            data-speed="1500"
                            data-start="1000"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="link-box"><a href="#" class="default-btn theme-btn">Our Services</a></div>
                        </div>
                        
                        <div class="tp-caption lfb tp-resizeme"
                            data-x="right" data-hoffset="0"
                            data-y="center" data-voffset="30"
                            data-speed="1500"
                            data-start="1000"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="link-box"><a href="#" class="default-btn style-two theme-btn">Get Free Quote</a></div>
                        </div>
                    
                    </li>
                    
                    <li data-transition="slideup" data-slotamount="1" data-masterspeed="1000" data-thumb="assets/images/main-slider/banner-2.webp"  data-saveperformance="off"  data-title="Awsome Service">
                    <img class="img-responsive" src="assets/images/main-slider/banner-2.webp"  alt=""  data-bgposition="center 35%" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                        <div class="tp-caption lfl tp-resizeme"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="-80"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h2>WE PROVIDE THE BEST</h2>
                        </div>
                        
                        
                        <div class="tp-caption lfr tp-resizeme"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="-20"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h2>GOOD LUCK MARRIAGE BUREAU SERVICES</h2>
                        </div>
                        
                        <div class="tp-caption lfb tp-resizeme"
                            data-x="center" data-hoffset="-100"
                            data-y="center" data-voffset="60"
                            data-speed="1500"
                            data-start="1000"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="link-box"><a href="#" class="default-btn theme-btn">Our Services</a></div>
                        </div>
                        
                        <div class="tp-caption lfb tp-resizeme"
                            data-x="center" data-hoffset="100"
                            data-y="center" data-voffset="60"
                            data-speed="1500"
                            data-start="1000"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="link-box"><a href="#" class="default-btn style-two theme-btn">Get Free Quote</a></div>
                        </div>
                    
                    </li>
                    
                    
                </ul>
                
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </section>  -->
    <!-- <app-slider></app-slider> -->
    <!--Featured Three Column-->

    <!-- ++++++++++++++++++++++++++============================================================ -->
    <!-- <section class="main-slider first-slide pt-0 pb-0">
        
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="assets/images/main-slider/banner-1.webp"  data-saveperformance="off"  data-title="Awsome Service">
                    <img class="img-responsive" src="assets/images/main-slider/banner-1.webp"  alt=""  data-bgposition="center 50%" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                        <div class="tp-caption lfl tp-resizeme"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="-80"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h2>STEVE CARELL AND NANCY WALLS</h2>
                        </div>
                        
                        
                        <div class="tp-caption lfr tp-resizeme"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="-20"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h2>ARE GETTING <span class="text-thm"> MARRIED</span></h2>
                        </div>
                        
                        <div class="tp-caption lfb tp-resizeme"
                            data-x="center" data-hoffset="-100"
                            data-y="center" data-voffset="60"
                            data-speed="1500"
                            data-start="1000"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="link-box"><a href="#" class="default-btn theme-btn">Our Services</a></div>
                        </div>
                        
                        <div class="tp-caption lfb tp-resizeme"
                            data-x="center" data-hoffset="100"
                            data-y="center" data-voffset="60"
                            data-speed="1500"
                            data-start="1000"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="link-box"><a href="#" class="default-btn style-two theme-btn">Get Free Quote</a></div>
                        </div>
                    
                    </li>
                    
                    <li data-transition="slidedown" data-slotamount="1" data-masterspeed="1000" data-thumb="assets/images/main-slider/banner_3.jpg"  data-saveperformance="off"  data-title="Awsome Service">
                    <img class="img-responsive" src="assets/images/main-slider/banner_3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                        <div class="tp-caption lfl tp-resizeme"
                            data-x="right" data-hoffset="0"
                            data-y="center" data-voffset="-110"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h2>WE PROVIDE THE BEST</h2>
                        </div>
                        
                        
                        <div class="tp-caption lfr tp-resizeme"
                            data-x="right" data-hoffset="0"
                            data-y="center" data-voffset="-50"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h2>SUPPORT TRY TO LIVE UP TO</h2>
                        </div>
                        
                        <div class="tp-caption lfb tp-resizeme"
                            data-x="right" data-hoffset="-200"
                            data-y="center" data-voffset="30"
                            data-speed="1500"
                            data-start="1000"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="link-box"><a href="#" class="default-btn theme-btn">Our Services</a></div>
                        </div>
                        
                        <div class="tp-caption lfb tp-resizeme"
                            data-x="right" data-hoffset="0"
                            data-y="center" data-voffset="30"
                            data-speed="1500"
                            data-start="1000"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="link-box"><a href="#" class="default-btn style-two theme-btn">Get Free Quote</a></div>
                        </div>
                    
                    </li>
                    
                    <li data-transition="slideup" data-slotamount="1" data-masterspeed="1000" data-thumb="assets/images/main-slider/banner-2.webp"  data-saveperformance="off"  data-title="Awsome Service">
                    <img class="img-responsive" src="assets/images/main-slider/banner-2.webp"  alt=""  data-bgposition="center 35%" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                        <div class="tp-caption lfl tp-resizeme"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="-80"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h2>WE PROVIDE THE BEST</h2>
                        </div>
                        
                        
                        <div class="tp-caption lfr tp-resizeme"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="-20"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h2>GOOD LUCK MARRIAGE BUREAU SERVICES</h2>
                        </div>
                        
                        <div class="tp-caption lfb tp-resizeme"
                            data-x="center" data-hoffset="-100"
                            data-y="center" data-voffset="60"
                            data-speed="1500"
                            data-start="1000"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="link-box"><a href="#" class="default-btn theme-btn">Our Services</a></div>
                        </div>
                        
                        <div class="tp-caption lfb tp-resizeme"
                            data-x="center" data-hoffset="100"
                            data-y="center" data-voffset="60"
                            data-speed="1500"
                            data-start="1000"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="link-box"><a href="#" class="default-btn style-two theme-btn">Get Free Quote</a></div>
                        </div>
                    
                    </li>
                    
                    
                </ul>
                
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </section> -->
  
<header>
 


  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="assets/images/main-slider/banner-1.webp" alt="...">
        <div class="carousel-caption">
          <h2 class="animated bounceInRight" style="animation-delay: 1s">We Are Reliable</h2>
          <h3 class="animated bounceInLeft" style="animation-delay: 2s">Let us know.</h3>
        </div>
      </div>
      <div class="item">
        <img src="assets/images/main-slider/banner_3.jpg" alt="...">
        <div class="carousel-caption">
          <h2 class="animated slideInDown" style="animation-delay: 1s">ARE You GETTING Married</h2>
          <h3 class="animated slideInRight" style="animation-delay: 2s">Visit us</h3>
        </div>
      </div>
      <div class="item">
        <img src="assets/images/main-slider/banner-2.webp" alt="...">
        <div class="carousel-caption">
          <h2 class="animated zoomIn" style="animation-delay: 1s">Best Customer Support</h2>
          <h3 class="animated zoomIn" style="animation-delay: 2s">Join us</h3>
        </div>
      </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</header>



<!--- ignore the code below-->


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <section class="featured-three-column pb-50">
    	<div class="container-fluid">
            <div class="sec-title text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="font-sacramento text-thm">The Wedding Couple</h1>
                        <h3>WE CARE ABOUT COUPLE EVENT</h3>
                        <div class="mb-30 mt-15"> <img class="img-responsive" src="assets/images/title-bottom.png" alt=""></div>                    
                    </div>                    
                </div>
            </div>
            <div class="row clearfix position-relative">
                <!--Column-->
                <div class="col-xs-12 col-sm-5 col-md-5 column wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms" *ngFor="let use of cupmale2">
                    <article class="inner-box pull-right sm-pull-none xs-pull-none">
                        <figure class="image">
                            <a href="#">
                                <!-- <img class="img-responsive" src="assets/images/resource/groom.jpg" alt=""> -->
                                <img class="img-responsive " [src]='use.image!=null ? urlget7+use.image:"assets/images/resource/groom.jpg"'   >
                            </a>
                            <div class="overlay"><span class="left-curve"></span><span class="right-curve"></span><a routerLink="/about_him" class="overlay-link"></a></div>
                        </figure>
                        <div class="content pl-80 pr-80">
                            <h3>{{use.name}}</h3>
                            <div class="text text-white">
                                <p>{{use.description}}</p>
                            </div>
                            <!-- <div class="social-links couple">
                                <a href="#" class="icon fa fa-facebook-f"></a>
                                <a href="#" class="icon fa fa-twitter"></a>
                                <a href="#" class="icon fa fa-pinterest"></a>
                                <a href="#" class="icon fa fa-instagram"></a>
                                <a href="#" class="icon fa fa-dribbble"></a>
                            </div> -->
                            <div class="link"><a routerLink="/abouthim" class="read-more btn thm-btn inverse"><span class="fa fa-caret-right"></span> MORE INFO</a></div>
                        </div>
                    </article>
                </div>
                
                <!--Column-->
               
                <!--Column-->
                <!-- <div class="col-xs-12 col-sm-5 col-md-5 column wow fadeInRight mt-xs-50" data-wow-delay="700ms" data-wow-duration="1500ms">
                    <article class="inner-box pull-left sm-pull-none xs-pull-none">
                        <figure class="image">
                            <a href="#"><img class="img-responsive" src="assets/images/resource/girl-1.png" alt=""></a>
                            <div class="overlay"><span class="left-curve"></span><span class="right-curve"></span><a href="#" class="overlay-link"></a></div>
                        </figure>
                        <div class="content pl-80 pr-80">
                            <h3>XYZ</h3>
                            <div class="text text-white">
                                <p>Proin nec lacus lacus. Sed vitae consectetur est, et mattis felis. Fusce lacinia nibh vitae fermentum finibus Donec.</p>
                            </div>
                            <!-- <div class="social-links couple">
                                <a href="#" class="icon fa fa-facebook-f"></a>
                                <a href="#" class="icon fa fa-twitter"></a>
                                <a href="#" class="icon fa fa-pinterest"></a>
                                <a href="#" class="icon fa fa-instagram"></a>
                                <a href="#" class="icon fa fa-dribbble"></a>
                            </div> -->
                            <!-- <div class="link"><a href="about-her.html" class="read-more btn thm-btn inverse"><span class="fa fa-caret-right"></span> MORE INFO</a></div>
                        </div>
                    </article>
                </div> --> 
            </div>
        </div>
    </section>
    
    
    <!--Featured Three Column-->
    <!--<section class="layer-overlay overlay-theme bg-parallax bg-img-cover2 pt-150 pb-150" data-bg-img="images/background/1.jpg">-->
    <!--    <div class="auto-container">-->
    <!--        <div class="row">-->
    <!--            <div class="col-md-8 col-md-offset-2">-->
                    <!--Countdown Timer-->
    <!--                <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2016/10/23"></div></div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</section>-->
    
    
    <!--Stories Section-->
    <section class="stories-section">
        <div class="auto-container">
            <!--Section Title-->
            <div class="sec-title text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="text-capitalize">Our Love Story</h1>
                        <h3>Lorem ipsum dolor sit amet, consectetur.</h3>
                        <div class="mb-30 mt-20"> <img class="img-responsive" src="assets/images/title-bottom.png" alt=""></div>                    
                    </div>                    
                </div>
            </div>
            <!--Columns Outer-->
            <div class="columns-outer">
                <!--Vertical Line-->
                <div class="vertical-line">
                    <div class="icon-box top"><span class="fa fa-heart-o"></span></div>
                    <div class="icon-box bottom"><span class="fa fa-heart-o"></span></div>
                </div>
                <div class="row clearfix">
                    <!--Left Column--> 
                    <div class="left-column col-md-6 col-sm-6 col-xs-12" >
                        <!--Default Story Box-->
                        <div class="default-story-box clearfix"   *ngFor="let pro of lstproject21">
                            <div class="inner-box wow fadeInLeft bg-thm-transparent pl-xs-60 bdrs-10 p-15" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <!--Icon Box-->
                                <div class="icon-box bottom"><span class="fa fa-heart-o"></span></div>
                                <div class="post-date">{{pro.met_date}}</div>
                                <h3 class="post-title text-thm font-weight-600">{{pro.met_title}}</h3>
                                <figure class="image-box"><a href="#"><img class="img-responsive" src="assets/images/resource/loveimg-3.png" alt=""></a></figure>
                                <div class="text">{{pro.met_description}}</div>
                                <a href="#" class="thm-btn inverse btn-sm btn-style-two">read more</a>
                            </div>
                        </div>

                     
                    </div>

                    <div class="right-column col-md-6 col-sm-6 col-xs-12"  *ngFor="let pro of lstproject21">
                        <!--Default Story Box-->
                        <div class="default-story-box clearfix">
                            <div class="inner-box wow fadeInRight pr-xs-60 bg-thm-transparent bdrs-10 p-15" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <!--Icon Box-->
                                <div class="icon-box bottom"><span class="fa fa-heart-o"></span></div>
                                <div class="post-date">{{pro.first_date}}</div>
                                <h3 class="post-title text-thm font-weight-600">{{pro.first_title}}</h3>
                                <figure class="image-box"><a href="#"><img class="img-responsive" src="assets/images/resource/loveimg-2.jpg" alt=""></a></figure>
                                <div class="text">{{pro.first_description}}</div>
                                <a href="#" class="thm-btn inverse btn-sm btn-style-two">read more</a>
                            </div>
                        </div>

                        </div>

                </div>
            </div>
        </div>
    </section>
    
    
    <!--Event Section-->
    <section class="parallax-section overflow-hidden parallax" data-bg-img="assets/images/background/3.jpg">
        <div class="container p-0">
            <!--Section Title-->
            <div class="sec-title text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="text-capitalize pb-10 text-white">Wedding Events</h1>
                        <h3 class="mb-20">Lorem ipsum dolor sit amet, consectetur.</h3>
                        <div class="mb-30 mt-20"> <img class="img-responsive" src="assets/images/title-bottom.png" alt=""></div>
                    </div>                    
                </div>
            </div>
            <div class="row clearfix">
                <!--Column-->
                <div class="col-xs-12 col-sm-12 col-md-4 wow slideInLeft text-center" data-wow-delay="0ms" data-wow-duration="1500ms" *ngFor="let pro of lstproject2">
                    <div class="event-item"  >
                      
                        <div class="event-thumb">
                            <img class="img-responsive img-fullwidth" [src]='pro.img!=null ? urlget+pro.img:"assets/images/resource/event.jpg"'   >
                            <!-- <img class="img-responsive img-fullwidth" [src]="pro.img!= null ? url+pro.img :'assets/images/resource/event.jpg'"   > -->
                        </div>
                        <div class="event-details bg-white p-20">
                          
                            <h2 class="text-thm pb-5">{{pro.name}}</h2>
                            <div class="event-day text-dark font-16 pb-5 font-weight-300">
                                <i class="fa fa-calendar text-thm"></i><span class="pl-5 pr-10">{{pro.eve_date}}</span>
                                <i class="fa fa-clock-o text-thm"></i><span class="pl-5">{{pro.eve_from}}</span>
                            </div>
                            <address class="text-dark font-16 mb-10">
                                <i class="fa fa-home text-thm"></i><span class="location pl-5">{{pro.eve_to}} &ensp;</span>
                                <i class="fa fa-map-marker text-thm"></i><span class="pl-5">{{pro.address}} </span>
                            </address>
                            <p class="text-black ">{{pro.desciption}}</p>
                            <a routerLink="/abouthim" class="thm-btn btn-sm btn-style-two">More Info</a>
                        </div>
                    </div>
                </div>
                <!--Column-->
               
            </div>
        </div>
    </section>


    <!--Team Section-->
    <section class="meet-doctors">
        <div class="container">
            <div class="sec-title text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="mt-0">Grooms Men</h1>
                        <p>Who Are They Best Peopl From Broomd Maid?</p>
                        <div class="mb-30 mt-20"> <img class="img-responsive" src="assets/images/title-bottom.png" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="sec-content">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6 col-md-3 mb-sm-20"  *ngFor="let groom of grrom2">
                        <div class="single-team-member xs-text-center">
                            <div class="img-box">
                              <!-- groom-image-1.jpg -->
                              <img class="img-responsive" [src]="groom.image!= null ? urlget2+groom.image :'assets/images/resource/groom-image-1.jpg'"  alt=""> 
                                <!-- <img class="img-responsive" src='assets/images/resource/groom-image-1.jpg'  alt=""> -->
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>{{groom.name}}</h3>
                            <!-- <span>{{groom.description}}</span> -->
                            <p>{{groom.description}}.</p>
                            <a routerLink="/abouthim" class="thm-btn btn-sm">View Profile</a>
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="separator">
              <i class="fa fa-gratipay text-thm"></i>
            </div>
            <div class="sec-title text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1>Brides Maid</h1>
                        <p>Who Are They Best People From Bride Maid?</p>
                        <div class="mb-30 mt-20"> <img class="img-responsive" src="assets/images/title-bottom.png" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="sec-content">
                <div class="row clearfix">
                   
                    <div class="col-xs-12 col-sm-6 col-md-3 mb-sm-20"  *ngFor="let bro of bride2">
                        <div class="single-team-member xs-text-center">
                            <div class="img-box">
                              <!-- groom-image-1.jpg -->
                             <!-- <img class="img-responsive" [src]="bro.img!= null ? urlget3+bro.img :'assets/images/resource/gril-1.jpg'"  alt=""> -->
                            <img class="img-responsive" [src]="urlget3+bro.image"  alt="">
                            <!-- <img class="img-responsive" src="assets/images/resource/gril-1.jpg "  alt=""> -->
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <ul>
                                                <li><a href="bro.facebook"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="bro.twitter"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="bro.insta"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>{{bro.name}}</h3>
                            <!-- <span>{{bro.description}}</span> -->
                            <p>{{bro.description}}.</p>
                            <a href="#" class="thm-btn btn-sm">View Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <!--Get Quote Section-->
    <section class="get-quote">
    	<div class="container p-0">
        	<div class="row clearfix">
                <!--Column-->
                <div class="col-md-6 col-sm-12 col-xs-12 wow slideInLeft p-0" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <img class="img-responsive" src="assets/images/resource/image-forlift-1.png" alt="">
                </div>
                <!--Column-->
                <div class="col-md-6 col-sm-12 col-xs-12 wow slideInRight p-sm-20">
                	<br>
                	<div class="sec-title style-three text-center">
                        <h2>ARE YOU Going to Married</h2>
                        <h3>Join us</h3>
                        <div class="line-center"></div>
                    </div>
                    <div class="form wow fadeInRight mt-60" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<form method="post" action="#">
                        	<div class="row clearfix">
                        		<div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                	<input type="text" name="fname" value="" placeholder="First Name *" required>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                	<input type="text" name="lname" value="" placeholder="Last Name *" required>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                	<input type="email" name="email" value="" placeholder="Email *" required>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                    <input type="text" name="phone" value="" placeholder="Phone *" required>
                                </div>
                                <div class="col-md-6 date col-sm-6 col-xs-12 form-group">
                                    <input class="datepicker" type="text" name="date" value="" placeholder="Attending Date *" required>
                                </div>
                                <div class="col-md-6 col-sm-6 time col-xs-12 form-group">
                                    <input class="timepicker" type="text" name="time" value="" placeholder="Attending Time *" required>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                	<textarea placeholder="Describe Your Needs to Us" required></textarea>
                                </div>
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 form-group text-center">
                                	<button type="submit" class="theme-btn normal-btn">I AM ATTENDING</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <!--Fact Counter-->
    <!--<section class="fact-counter">-->
    <!--	<div class="auto-container">-->
    <!--    	<div class="row clearfix">-->
            	
                <!--Column-->
    <!--            <article class="col-md-3 col-sm-6 col-xs-12 column wow fadeIn" data-wow-duration="0ms">-->
    <!--                <div class="count-outer"><span class="count-text" data-speed="700" data-stop="1500">0</span></div>-->
    <!--                <div class="line"></div>-->
    <!--                <h4 class="counter-title">SUCCESSFULL PROJECT</h4>-->
    <!--            </article>-->
                
                <!--Column-->
    <!--            <article class="col-md-3 col-sm-6 col-xs-12 column wow fadeIn" data-wow-duration="0ms">-->
    <!--                <div class="count-outer"><span class="count-text" data-speed="2000" data-stop="9108">0</span></div>-->
    <!--                <div class="line"></div>-->
    <!--                <h4 class="counter-title">HAPPY PEOPLE</h4>-->
    <!--            </article>-->
                
                <!--Column-->
    <!--            <article class="col-md-3 col-sm-6 col-xs-12 column wow fadeIn" data-wow-duration="0ms">-->
    <!--                <div class="count-outer"><span class="count-text" data-speed="500" data-stop="80">0</span></div>-->
    <!--                <div class="line"></div>-->
    <!--                <h4 class="counter-title">AWARD WINNING</h4>-->
    <!--            </article>-->
                
                <!--Column-->
    <!--            <article class="col-md-3 col-sm-6 col-xs-12 column wow fadeIn" data-wow-duration="0ms">-->
    <!--                <div class="count-outer"><span class="count-text" data-speed="1200" data-stop="619">0</span></div>-->
    <!--                <div class="line"></div>-->
    <!--                <h4 class="counter-title">RUNNING PROJECT</h4>-->
    <!--            </article>-->
                
    <!--        </div>-->
    <!--    </div>-->
    <!--</section>-->
    
    
    <!--Gallery Section-->
    <section class="gallery-section parallax" data-bg-img="assets/images/parallax/image-1.jpg">
        <div class="container-fluid">
            <div class="sec-title style-two">
                <h2 class="text-white">WE OFFER YOU THE BEST SUPPORT</h2>
                <h3 class="text-white">OUR PHOTO GALLERY</h3>
                <div class="line"></div>
            </div>
            <div class="sec-content mt-50">
                <div class="row clearfix">
                    
                    <!--Column-->
                    <div class="col-md-4  col-xs-12 column wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms"  *ngFor="let bro of gal2">
                        <figure class="image mr-5">
                            <a href="assets/images/resource/gallery-image-1.jpg" class="lightbox-image"> <img class="img-responsive" [src]="urlget4+bro.image"  alt=""></a>
                            <div class="overlay-box"><a href="assets/images/resource/gallery-image-1.jpg" class="link lightbox-image" title="Gallery Photos"><span class="txt font-30"><i class="fa fa-camera"></i></span></a></div>
                        </figure>
                    </div>
                    
                   
                    
                </div>
       
            </div>
            
            <br><br>
            <div class="link-box"><a href="#" class="thm-btn btn-lg">View Gallery</a></div>
        </div>
    </section>
    
    <!--Default Two Column Section-->
  

    
    <!--Parallax Section-->
    <section class="parallax-section" style="background-image:url(assets/images/parallax/image-2.jpg);">
    	<div class="auto-container">
        	<div class="text-center wow fadeInUp" data-wow-delay="250ms" data-wow-duration="1500ms">
            	<h2>YOU ARE <strong>IN LOVE</strong> WITH RASHID WEDDING  &amp; WANT TO <strong>STAND OUT</strong></h2>
                <div class="line mt-15"></div>
                <a class="theme-btn default-btn" href="#">REACH OUT TO US</a>
                <a class="theme-btn normal-btn" href="#">BUY WEDDING NOW</a>                
            </div>
        </div>
    </section>
    
    
    <!--Main Footer-->
 
    
    
<!-- </div> -->
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="#main-header"><span class="fa fa-arrow-up"></span></div>
<!-- 
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/js-collection.js"></script>
<script src="js/flipclock.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/script.js"></script> -->

<!-- </body>


</html> -->

<!-- <app-about></app-about> -->
<!-- <router-outlet></router-outlet> -->

